
  <p id="notice"></p>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <table class="table">
      <tr><%= render 'users/profile', user: @user %></tr>
      </table>
      <div>
        <%= render 'books/form', {book: @booknew, btn: 'Create Book'} %>
      </div>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
    <%= render 'users/index', user: @users %>
  </div>
</div>
