<p id="notice"></p>

<div class='container px-5 px-sm-0'>
<%= render 'books/error', model: @booknew %>
    <div class='row'>
        <div class='col-md-3'>
            <table class='table'>
                <%= render 'users/profile', user: @user %>
            </table>
                
            <div>
                <%= render 'books/form', {book: @booknew, btn: 'Create Book'} %>
            </div>
        </div>
            <div class='col-md-8 offset-md-1'>
                <h2>Books</h2>
                <%= render 'books/index', book: @books %>
                
            </div>
        </div>
    </div>
</div>